
<div class="contents">
  <p><%= @name %>さんの投稿一覧</p>
  <div class="contents-main">
    <% @posts.each do |post| %>
      <hr>
        <div class="row">
          <div class="col s12 m7">
            <div class="card middle">
              <div class="card-image">
                <img src="<%= post.image %>">
                <span class="card-title"><%= post.title %></span>
              </div>
              <div class="card-content">
                <p><%= post.content %></p>
              </div>
              <div class="card-action">
                <a href="#"><%= post.user.name%></a>
              </div>
            </div>
          </div>
        </div>
    <% end %>
    <%= paginate(@posts) %>
  </div>
</div>
