<div class="new-post">
  <div>
    <div class="random-box">
      <p>今日のブログテーマをランダムに決めてみよう！</p>
      <h5 id="btn">ランダムテーマ開始</h5>
      <h5>今日のテーマは・・・</h5>
      <h4 id="random-title">??????</h4>
    </div>
  <%= form_for @post, html: {class: 'center-align'} do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <div class="row">
        <div class="input-field col s12 m12 l12">
          <i class="material-icons prefix">mode_edit</i>
          <%= f.text_field :title, placeholder:"タイトルを書いてください", class:"icon_prefix2", id:"input" %>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12 m12 l12">
            <i class="material-icons prefix">mode_edit</i>
            <%= f.text_area :content, placeholder:"本文を書いてください", class:"materialize-textarea", id:"textarea1" %>
          </div>
      </div>
          <div class="row">
        <div class="input-field col s12 m12 l12">
          <i class="material-icons prefix">insert_photo</i>
          <%= f.file_field :image, id: "upload-icon", placeholder:"画像を指定してください" %>
        </div>
      </div>
      <div class="btn waves-effect waves-light">
        <i class="material-icons right">send</i>
          <%= f.submit type: "submit", value: "投稿する" %>
      </div>
  <% end %>
  </div>
</div>


