<div class="contents">
  <div class="contents-main container">
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="card">
          <%= link_to "/posts/#{@post.id}", method: :get do %>
            <div class="card-image">
              <img src="<%= @post.image %>">
              <span class="card-title"><%= @post.title %></span>
            </div>
            <div class="card-content">
              <p><%= @post.content %></p>
            </div>
          <% end %>
          <div class="card-action clearfix">
              <li class="name"><a href="#"><%= @post.user.name %></a></li>
              <% if user_signed_in? && current_user.id == @post.user_id %>
              <li class="icons">
                <%= link_to "/posts/#{@post.id}/edit", method: :get do %>
                  <i class="material-icons">mode_edit</i>
                <% end %>
                <%= link_to "/posts/#{@post.id}", method: :delete do %>
                  <i class="material-icons">delete</i>
                <% end %>
              </li>
              <% end %>
              <li class="like">
                <% if user_signed_in? %>
                  <% if Like.find_by(user_id: current_user.id, post_id: @post.id) %>
                    <%= button_to post_like_path(@post) ,method: :delete do %>
                    <i class="material-icons liked transparent">favorite</i>
                    <p class="counts"><%= @post.likes.count %></p>
                    <% end %>
                  <% else %>
                    <%= form_for [@post, @like] do |f| %>
                      <%= button_tag type: "submit" do %>
                        <i class="material-icons transparent">favorite_border</i>
                      <% end %>
                    <% end %>
                    <p class="counts"><%= @post.likes.count %></p>
                  <% end %>
                <% else %>
                  <i class="material-icons liked transparent">favorite</i>
                  <p class="counts"><%= @post.likes.count %></p>
                <% end %>
              </li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="comments">
    <h5 class="center-align">コメント一覧</h5>
    <% if @comments %>
      <% @comments.each do |comment| %>
        <p class="comment">
          <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    <% end %>
  </div>
  <div class="container">
    <!-- ここからフォーム -->
    <% if current_user %>
      <%= form_for [@post, @comment] do |f| %>
<!--         <% if @comment.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <ul>
            <% @comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %> -->
          <div class="row">
            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">comment</i>
                <%= f.text_field :text, placeholder:"コメントをする...", required: true %>
            </div>
            <div class="btn-box">
              <%= f.submit class: "btn", type: "submit", value: "コメント" %>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
